footer {
    background-color: rgb(37, 36, 36);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.info-2 a{
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
    text-decoration: none;
    font-size: 25px;
}

.info-2 img{
    width: 32px;
}

.info-1 p{
    font-size: 20px;
}